@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Serviços Siga-me</h1>
    <p class="lead">Uso exclusivo para os serviços Sigam-me WEB/API</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/noticias">Noticias</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/horoscopo">Horoscopos &raquo;</a></p>
    </div>
    
</div>